<?php
/*
 * Rankings html page which will print the rankings lists.
 * Controller will be writen in Controllers/rankings.php
 */
?>

<h1> КЛАСИРАНЕ </h1>

<p> Индивидуално Мъже </p>
<table>
	<tr>
		<th>Ранк</th>
		<th>Име</th> 
		<th>Фирма</th>
		<th>Точки</th>
		<th>Състезания</th>
	</tr>
	<tr>
		<td>1</td>
		<td>Христо Цветков</td>
		<td>ТекХъдъл</td> 
		<td>248</td>
		<td>3</td>
	</tr>
</table>

<hr>

<p> Индивидуално Жени </p>
<table>
	<tr>
		<th>Ранк</th>
		<th>Име</th> 
		<th>Фирма</th>
		<th>Точки</th>
		<th>Състезания</th>
	</tr>
	<tr>
		<td>1</td>
		<td>Мариана Динчева</td>
		<td>Телебид</td> 
		<td>17</td>
		<td>1</td>
	</tr>
</table>

<hr>

<p> Фирмено класиране </p>
<table>
	<tr>
		<th>Ранк</th>
		<th>Име</th>
		<th>Точки</th> 
		<th>Участници</th>
		<th>Състезания</th>
	</tr>
	<tr>
		<td>1</td>
		<td>ТекХъдъл</td>
		<td>107</td> 
		<td>4</td>
		<td>3</td>
	</tr>
</table>